<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
    <body>
        <header>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">contact</a>
            <a href="index.html">Archive</a>
        </header>
        <section class="content">
            {% block content %}{% endblock %}
            <footer>
                Site proudly built with 
                <a href="">Pakyll</a>
                <br>
            </footer>
        </section>
    </body>
</html>